NODE_ENV=development
PORT=8000
CORS_ORIGINS=http://localhost:3000
API_PREFIX=api/
JWT_ACCESS_SECRET=your-development-secret-your-dev
JWT_ACCESS_EXPIRES_IN=900
JWT_ISSUER=self
JWT_AUDIENCE=self
API_VERSION=v1
USER_INITIAL_PASSWORD=
DIRECT_DATABASE_URL=
DATABASE_URL=